$mediaMediumWidth: 665px;

nav.navigation {
  height: 100%;
  display: flex;
  flex-direction: row;

  .nav-link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0 24px;
  }

  .active-nav-link {
    color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
    }
  }

  .nav-text {
    margin-left: 5px;

    @media screen and (max-width: $mediaMediumWidth){
      display: none;
    }
  }

}