.not-found-message {
  text-align: center;
}

.transactions-list {
  @media screen and (max-width: 782px) {
    margin: 0 4px;
  }
}

.loader {
  background: #7986CB;
  color: white;
  padding: 20px 0;
  text-align: center;
}