.transaction {
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;

  .transaction-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    height: 100%;

    .action-button {
      justify-content: flex-start;
      color: rgba(48, 48, 48, 0.7);
    }
  }
}