$mediaMediumWidth: 665px;

.filters {
  .search-and-button-section {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    .search-field {
      width: 100%;
      margin-right: 15px;

      input {
        padding-left: 32px;
        height: 26px;
        background-image: url("../../../icons/ic_search_black_24px.svg");
        background-repeat: no-repeat;
        background-position: center left;
      }
    }
  }

  .filters-section {
    margin: 20px 0;
    background: #E8EAF6;

    .inputs {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $mediaMediumWidth){
       flex-direction: column;
      }

      .field {

        &.category {
          min-width: 200px;
        }

        &.date {
          @media screen and (max-width: $mediaMediumWidth){
            margin: 15px 0;
          }
        }

        .amount {
          width: 90px;
          margin-left: 10px;
        }
      }
    }
  }
}