.app {
  color: #424242;
  font-family: 'Roboto', sans-serif;

  .page-wrapper {
    margin: 60px auto 0;
    width: 100%;
    max-width: 768px;
  }
}

.loader {
  background: #7986CB;
  color: white;
  padding: 20px 0;
  text-align: center;
}

